<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>LTC vCard</string>
    <key>CFBundleDisplayName</key>
    <string>LTC vCard</string>
    <key>CFBundleIdentifier</key>
    <string>site.ltcgroup.vcard</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>CFBundleShortVersionString</key>
    <string>0.1.0</string>
    <key>CFBundlePackageName</key>
    <string>io.flutter.app.FlutterApplication</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>UIMainStoryboardFile</key>
    <string>Main</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>NSCameraUsageDescription</key>
    <string>LTC vCard a besoin d'accéder à votre caméra pour scanner vos documents KYC.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>LTC vCard a besoin d'accéder à vos photos pour sélectionner vos documents KYC.</string>
    <key>NSFaceIDUsageDescription</key>
    <string>LTC vCard utilise Face ID pour sécuriser l'accès à votre compte.</string>
    <key>UIBackgroundModes</key>
    <array>
        <string>fetch</string>
        <string>remote-notification</string>
    </array>
</dict>
</plist>
